.template-game-ui-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  border: 1px solid var(--pane-bg);

  .top-toolbar {
    &:extend(.pane);
    &:extend(.pane.no-padding);

    pointer-events: auto;

    position: fixed;
    top: 0;

    display: flex;

    font-size: 1.25rem;
    height: 2em;
    line-height: 2em;
    overflow: hidden;

    z-index: 50;

    &.left {
      left: 0px;
      border-radius: 0 0 0.625rem;
    }
    &.right {
      right: 0px;
      border-radius: 0 0 0 0.625rem;
    }

    item {
      height: inherit;
      padding: 0 0.5em;
      margin: 0;

      height: inherit;
      overflow: hidden;

      width: auto;

      display: flex;

      &:not(.first-child) {
        border-left: 2px solid #2f3138;
      }

      &.banner {
        .gov {
          opacity: 0.8;
        }
      }

      &.date {
        font-family: var(--ui-font-mono);
      }

      &.button {
        cursor: pointer;
        pointer-events: auto;

        background-color: var(--button-bg);

        transition: var(--ui-component-transition);

        box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.0);

        &:hover:not([disabled]):not(.active):not(:active),
        &.hover:not(.active):not(:active) {
          box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.1);
        }

        &:active:not([disabled]),
        &.active {
          box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.2);
        }
      }

      &.stat {
        i {
          padding-right: 0.5em;
        }

        span {
          font-family: var(--ui-font-mono);
        }

        &.pop {
          color: #5ee55e;
        }

        &.prod {
          color: gold;
        }
      }

      &.end-turn {
        background-color: var(--bg-success);
      }
    }
  }

  .left-pane {
    &:extend(.pane all);
    &:extend(.pane.no-padding);

    display: none;
    position: fixed;

    --width: calc(max(30dvw, 350px));

    top: 2.5rem;
    left: calc(-1 * var(--width));

    z-index: 40;

    min-height: 2em;
    width: var(--width);

    border-top: 2px solid #2f3138;

    border-bottom-right-radius: 0.625rem;

    &.animate-start {
      display: block;
      transition: left 0.35s cubic-bezier(0, 1.13, 0, 0.99);

      &.shown {
        left: 0;
      }

      &.animate-end {
        transition: left 0.2s cubic-bezier(.23, 1, .32, 1);
      }
    }

    .header {
      font-size: 1.25rem;
      height: 2em;
      line-height: 2em;

      border-bottom: 1px solid var(--divider-border-color);

      display: flex;
      align-items: center;

      background-color: #192533;

      .title {
        flex-grow: 1;
        padding-left: 1em;
      }

      .close {
        &:extend(.template-game-ui-container .top-toolbar item);
        &:extend(.template-game-ui-container .top-toolbar item.button all);
      }
    }
  }
}