:root {
  --ui-font: Arial, Helvetica, sans-serif;
  --ui-font-mono: Consolas, Monaco, 'Courier New', monospace;
  --input-font: var(--ui-font);

  --font-color-white: white;
  --font-color-black: #262626; // 85% black

  --pane-color: white;
  --pane-bg: #171a21;
  --pane-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  --divider-color: #000000;
  --divider-border-color: #2f3138;

  --bg-success: #1d4219;
  --bg-warning: #4b3c20;
  --bg-error: #4b2121;

  --input-color: white;
  --input-color-disabled: rgba(255, 255, 255, 0.7);
  --input-bg: #32353c;
  --input-bg-hover: #393c44;

  --button-color: var(--input-color);
  --button-color-active: var(--input-bg);
  --button-color-disabled: var(--input-color-disabled);
  --button-bg: var(--input-bg);
  --button-bg-hover: var(--input-bg-hover);
  --button-bg-active: #C6C3BB;
  --button-bg-active-hover: #dfddd7;
  --button-border: 1px solid rgba(255, 255, 255, 0.12);
  --button-box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
  --button-box-shadow-active: inset 0 -2px 0 0px var(--input-bg);

  --ui-component-transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

@import url(./overrides.less);

@import url(./layout.less);

@import url(./dialog.less);
@import url(./tooltip.less);
@import url(./startMenu.less);
@import url(./mapEditor.less);
@import url(./scenarioEditor.less);
@import url(./gameController.less);