:root {
  --ui-font: 'Times New Roman', serif;

  --pane-color: white;
  --pane-bg: #171a21;
  --pane-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
}

@import url(./layout.less);
@import url(./startMenu.less);