.template-start-menu {
  &:extend(ui-layer > .fill-screen);
  &:extend(.centering-grid);

  .pane {
    &:extend(.pane.no-padding);

    font-size: 1.25rem;

    min-width: 20em;
    background: #171a21;

    h1 {
      text-align: center;
    }
  }
}