:root {
  --ui-font: Arial, Helvetica, sans-serif;
  --ui-font-mono: Consolas, Monaco, 'Courier New', monospace;
  --input-font: var(--ui-font);
  --pane-color: white;
  --pane-bg: #171a21;
  --pane-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  --input-color: white;
  --input-color-disabled: rgba(255, 255, 255, 0.7);
  --input-bg: #32353c;
  --input-bg-hover: #393c44;
  --button-color: var(--input-color);
  --button-color-active: var(--input-bg);
  --button-color-disabled: var(--input-color-disabled);
  --button-bg: var(--input-bg);
  --button-bg-hover: var(--input-bg-hover);
  --button-bg-active: #C6C3BB;
  --button-bg-active-hover: #dfddd7;
  --button-border: 1px solid rgba(255, 255, 255, 0.12);
  --button-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  --button-box-shadow-active: inset 0 -2px 0 0px var(--input-bg);
  --ui-component-transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
:root,
html,
body {
  font-family: var(--ui-font);
  font-size: 14px;
  user-select: none;
  box-sizing: border-box;
}
:root *,
html *,
body *,
:root *:before,
html *:before,
body *:before,
:root *:after,
html *:after,
body *:after {
  box-sizing: inherit;
}
templates,
assets {
  display: none;
}
root,
root canvas-container,
root ui-layer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
root canvas-container {
  z-index: 1000;
  background: white;
}
root ui-layer {
  z-index: 2000;
  background: transparent !important;
}
/* UI Components */
input,
button,
label {
  font-family: var(--input-font);
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 2px;
  border: none;
  outline: none;
  transition: var(--ui-component-transition);
}
input[disabled],
button[disabled],
label[disabled] {
  cursor: not-allowed;
}
label {
  margin-bottom: 0;
}
input {
  color: var(--input-color);
  background: var(--input-bg);
}
input:invalid {
  outline: 2px solid red;
}
input:hover:not([disabled]) {
  background: var(--input-bg-hover);
}
input[disabled] {
  color: var(--input-color-disabled);
}
button {
  color: var(--button-color);
  background: var(--button-bg);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
}
button:hover:not([disabled]):not(.active):not(:active),
button.hover:not(.active):not(:active) {
  background: var(--button-bg-hover);
}
button:active:not([disabled]),
button.active {
  color: var(--button-color-active);
  background: var(--button-bg-active);
  box-shadow: var(--button-box-shadow-active);
}
button.active:hover:not(:active) {
  background: var(--button-bg-active-hover);
}
button[disabled] {
  color: var(--button-color-disabled);
}
.pane {
  font-size: 1rem;
  color: var(--pane-color);
  background: var(--pane-bg);
  box-shadow: var(--pane-box-shadow);
  padding: 1em;
}
.pane.no-padding,
.template-start-menu .pane,
.template-map-editor .left-pane {
  padding: 0;
}
.pane divider {
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  border-top: 1px solid #2f3138;
}
/* Helpers */
.monospace {
  font-family: var(--ui-font-mono);
}
.half {
  width: 50%;
}
.left-float {
  float: left;
}
.left-float:not(:last-child) {
  padding-right: 1em;
}
.clear,
divider {
  clear: both;
}
ui-layer {
  pointer-events: none;
}
ui-layer .pane {
  pointer-events: auto;
}
ui-layer > .fill-screen,
.template-start-menu,
.template-map-editor {
  width: 100%;
  height: 100%;
  background: transparent;
}
.centering-grid,
.template-start-menu {
  display: grid;
  place-items: center;
}
.centering-grid > *:first-child {
  display: block;
  width: auto;
  height: auto;
}
.cursor-wait {
  cursor: wait;
  pointer-events: auto;
}
.overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  overflow: auto;
  display: grid;
}
.overlay .center-box,
.overlay .loading-box {
  place-self: center;
  color: var(--pane-color);
  background-color: var(--pane-bg);
  box-shadow: var(--pane-box-shadow);
}
.overlay .loading-box {
  padding: 2em 4em;
}
.overlay .loading-box .loading-text {
  font-family: var(--ui-font-mono);
  font-size: 1.5rem;
  text-align: left;
  border-radius: 4px;
}
.overlay .loading-box .progress-con {
  margin-top: 1rem;
  font-size: 0;
  height: 4px;
  width: 100%;
  min-width: min(85dvw, 12em);
  background: rgba(0, 0, 0, 0.6);
}
.overlay .loading-box .progress-con .progress {
  height: inherit;
  width: 0%;
  display: inline-block;
  background: #324bc8;
  box-shadow: 0px 1px 8px 1px rgba(100, 150, 255, 0.4);
}
.tooltip-con {
  z-index: 5000;
  position: fixed;
  display: block;
  color: var(--pane-color);
  background: var(--pane-bg);
  font-size: 0.9rem;
  box-shadow: var(--pane-box-shadow);
  border-radius: 4px;
}
.tooltip-con .padded-info {
  padding: 1em;
}
.template-start-menu .pane {
  font-size: 1.25rem;
  min-width: 20em;
  background: #171a21;
}
.template-start-menu .pane h1 {
  text-align: center;
}
.template-start-menu .pane item,
.template-map-editor .left-pane item {
  display: block;
  font-size: 1.25em;
  background: inherit;
  border-top: 1px solid #2f3138;
  border-bottom: 1px solid #000000;
  color: #bdbdbd;
  padding: 0 1em;
  white-space: nowrap;
  line-height: 2.5em;
  cursor: pointer;
  transition: var(--ui-component-transition);
}
.template-start-menu .pane item:hover,
.template-map-editor .left-pane item:hover {
  background: #192533;
}
.template-map-editor {
  font-size: 1rem;
  display: block;
  position: relative;
}
.template-map-editor .left-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: max(20em, 30%);
  height: 100%;
  overflow: auto;
}
.template-map-editor .left-pane item {
  border: none;
}
.template-map-editor .left-pane form,
.template-map-editor .left-pane .controls {
  padding: 1em;
}
/*# sourceMappingURL=include.css.map */